<% provide(:xx ,"主页") %>
<div class = "center hero-unit" style="background: linear-gradient(#00BFFF,whitesmoke)" >
<h3 style = "color: #B00100">
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
</h3>

<!--<div class = "center hero-unit" style="background: azure" >-->
<div class = "center hero-unit" style="background: linear-gradient(lightblue,whitesmoke)" >
<h1 style = "color:rgb(149, 171, 182)">动态表单系统
</h1>
</div>

  <% if signed_in? %>
  <span>

    <div  >

    <h2>全站表单</h2>
  <div class = "input-group "  style = "width: 100%">
    <%= form_for( '', method: 'GET', html: {class: 'form-group'}) do %>
      <div class = "form-group row center ">
        <span class = "center">
          <span2><%= date_field_tag :date_from, params[:date_from], placeholder: '开始时间', class:"datepicker" %></span2>
          <span2><%= date_field_tag :date_to, params[:date_to], placeholder: '结束时间', class:"datepicker" %></span2>
          <span2 ><%= select_tag :search_id, options_for_select({"表单内容":1,"创建者":2}, params[:search_id]), class:"form-control" %></span2>
        <span2 > <%= text_field_tag :content, params[:content], class:"form-control" %> </span2>
          <span2><%= submit_tag '搜索', class: 'btn btn-sm btn-primary' %> </span2>

        </span>
      </div>
<%end%>
  </div>
<table class = "table table-strip">
<tr>
    <th >表单名</th>
     <th >创建者</th>
  <th>开始时间</th>
  <th>结束时间</th>
  <th>状态</th>
  <th>动作</th>
</tr>
<% @forms.each do |f| %>
        <tr >
        <td><%=  f.name %></td>
        <td> <%= f.user.name%></td>
          <td><%= f.start_at%></td>
          <td><%= f.end_at%></td>
          <%if Time.now > Time.parse(f.end_at)  %>
            <td style="color: #B00100"> 已经过期  </td>
          <%elsif Time.now < Time.parse(f.start_at)%>
            <td style="color:#00BFFF"> 等待开始  </td>
          <%else%>
            <%if f.tag %>
            <td style="color: #7FFF00"> 正在进行  </td>
              <%else %>
             <td style="color: #2E2EFE"> 停止填写  </td>
              <%end %>
          <%end%>

     <td>  <%if Time.now < Time.parse(f.end_at) && Time.now > Time.parse(f.start_at) && f.tag %>
         <%= link_to '填写',fill_path(form_takon:f.takon,controller: 'form' , action: 'fill')%>
         <%else %>
       🔓
          <%end%>
          <td>
        </tr>
<% end %>
</table>
        </div>


  </span>

  <span >
  <div class = "container" style="width: 80%">
    <h2>最新表单填写数据</h2>


    <%if @form_user.present?%>
    <h3 class="center">表单名：<%=@form_user.form.name %></h3>

<table  class = "table table-strip">
  <tr>
    <th> 填写者：</th>
    <td>
      <%if @form_user.user.present? %>
<%=@form_user.user.name %>
      <%end %>
    </td>
  </tr>
  <% @form_user.values.each do |v| %>
    <tr>
        <th>
    <%= v.filed.label %>
        </th>
        <td>
   <%=v.content%>
        </td>
    </tr>
  <%end%>
</table>
<%else%>
<h2 style = "color:#999">还没有人填写你的表单，赶紧邀请起来吧！</h2>
<%end%>

  </div>
</span>



<% else %>
  <h2 class="center">
    <%= link_to '登陆' , login_path%></h2>
<% end %>
</div>
