<% provide(:xx ,"我的表单") %>
<div class="row">

<% @forms.each do |f| %>
    <h3>表单名：
     <%=  f.name %></h3>
    <p>创建时间：
    <%=f.created_at%>
    </p>
    <p>更新时间：
    <%=f.updated_at%>
    </p>
    <%= link_to '修改',edit_path(form_id:f.id,controller: 'form' , action: 'edit')%>
    <%= link_to '删除',del_path(form_id:f.id,controller: 'form' , action: 'del')%>
    <%= link_to '填写',fill_path(form_id:f.id,controller: 'form' , action: 'fill')%>
<% end %>
</div>