<% provide(:xx ,"我的表单") %>
<div class = "center hero-unit" style="background: linear-gradient(#7FFF00,whitesmoke)" >
<h3 style="color: #B00100">
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
</h3>
<div class="center hero-unit " style="background: linear-gradient(lightgreen,whitesmoke)">
<h1 style="color:rgb(149, 171, 182)">我的表单</h1>
</div>
  <div class="input-group center">
    <%= form_for( '', method: 'GET', html: {class: 'form-group'}) do %>
      <span2><%= date_field_tag :date_from, params[:date_from], placeholder: '开始时间', class:"datepicker" %></span2>
      <span2><%= date_field_tag :date_to, params[:date_to], placeholder: '结束时间', class:"datepicker" %></span2>
      <span2 >
        <%= text_field_tag :form_name, params[:form_name],  placeholder: '搜索我的表单',class:"form-control" %></span2>
      <span2>
        <%= submit_tag '搜索', class: 'btn btn-sm btn-primary' %>
      </span2>
<%end%>
  </div>
<div class="pull-left"><%= link_to '创建表单', new_path %>
</div>
<%= paginate(@forms) %>
<table class="table table-strip">
<tr>
    <th >表单名</th>
     <th >创建者</th>
    <th>创建时间</th>
    <th>更新时间</th>
    <th>填写份数</th>
    <th>开始时间</th>
    <th>结束时间</th>
    <th>状态</th>
  <th>控制</th>
    <th>动作</th>

        </tr>
     
<% @forms.each do |f| %>
        <tr>
        <td><%=  f.name %></td>
        <td> <%=f.user.name%></td>
        <td> <%=f.created_at%></td>
        <td><%=f.updated_at%></td>
         <td><%=f.form_users.count%></td>
         <td><%=f.start_at%></td>
         <td><%=f.end_at%></td>
          <%if Time.now > Time.parse(f.end_at)  %>
            <td style="color: #B00100"> 已经过期  </td>
          <%elsif Time.now < Time.parse(f.start_at)%>
            <td style="color:#00BFFF"> 等待开始  </td>
          <%else%>
            <%if f.tag %>
            <td style="color: #7FFF00"> 正在进行  </td>
              <%else %>
             <td style="color: #2E2EFE"> 停止填写  </td>
              <%end %>
          <%end%>
          <td>
            <%if Time.now < Time.parse(f.end_at) && Time.now > Time.parse(f.start_at) %>
            <%if f.tag %>
              <%= link_to '❤️',stop_path(form_takon:f.takon,controller: 'form' , action: 'stop')%>
            <%else %>
              <%= link_to '💚',restart_path(form_takon:f.takon,controller: 'form' , action: 'restart')%>
            <%end%>
            <%else %>
            🔓
            <%end %>
          </td>
          <td>
          <%if Time.now < Time.parse(f.end_at) && Time.now > Time.parse(f.start_at) %>
              <%if f.tag %>
                <%= link_to '填写',fill_path(form_takon:f.takon,controller: 'form' , action: 'fill')%>
                <%else %>
                <%= link_to '修改',edit_path(form_id:f.id,controller: 'form' , action: 'edit')%>
                <%end %>
              <%elsif Time.now < Time.parse(f.start_at) %>
            <%= link_to '修改',edit_path(form_id:f.id,controller: 'form' , action: 'edit')%>
            <%end %>
            <%= link_to '删除',del_path(form_id:f.id,controller: 'form' , action: 'del')%>
    <%= link_to '查看数据',userdata_path(form_id:f.id,controller: 'form' , action: 'user_data')%></td>
        </tr>
<% end %>
</table>
<%= paginate(@forms) %>
</div>