<% provide(:xx ,"我的表单") %>
<div  class="center hero-unit">

<div>
<h1 style="color:rgb(149, 171, 182)">我的表单
</h1>
</div>
<section>
<%=form_tag controller:"form",action:"search_current",method: "post",remote: true do %>
<label for="form_name" required> <h2> 搜索我的表单</h2> </label>
<%= text_field_tag :form_name,params[:form_name]%>
<%= submit_tag "走起"%>
<%end%>
</section>
<span class="pull-left"><%= link_to '创建表单', new_path %>
</span>
<%= paginate(@forms) %>
<table class="table table-strip">
<tr>
    <th >表单名</th>
     <th >创建者</th>
    <th>创建时间</th>
    <th>更新时间</th>
    <th>填写份数</th>
    <th>备注</th>
        </tr>
     
<% @forms.each do |f| %>
        <tr>
        <td><%=  f.name %></td>
        <td> <%=f.user.name%></td>
        <td> <%=f.created_at%></td>
        <td><%=f.updated_at%></td>
         <td><%=f.form_users.count%></td>
         <td><%=f.notes%></td>
        <td><%= link_to '修改',edit_path(form_id:f.id,controller: 'form' , action: 'edit')%>
    <%= link_to '删除',del_path(form_id:f.id,controller: 'form' , action: 'del')%>
   <%= link_to '填写',fill_path(form_id:f.id,controller: 'form' , action: 'fill')%>
    <%= link_to '查看数据',userdata_path(form_id:f.id,controller: 'form' , action: 'user_data')%></td>
        </tr>
<% end %>
</table>
<%= paginate(@forms) %>
</div>

