<% provide(:xx ,"我的表单") %>
<div  class="center hero-unit">

<div>
<h1>创建的表单</h1>
</div>
<%= paginate(@forms) %>

<% @forms.each do |f| %>
<table border ="2" class="survey-items">
<tr>
    <th><p>表单名</p></th>
     <th><P>创建者</p></th>
    <th><p>创建时间</p></th>
    <th><p>更新时间</p></th>
        </tr>
        <tr>
        <th><p> <%=  f.name %></p></th>
        <th> <p><%=f.user.name%></p></th>
        <th> <p><%=f.created_at%></p></th>
        <th><p><%=f.updated_at%></p></th>
        </tr>
        <tr>
        <th><p><%= link_to '修改',edit_path(form_id:f.id,controller: 'form' , action: 'edit')%>
    <%= link_to '删除',del_path(form_id:f.id,controller: 'form' , action: 'del')%>
   <%= link_to '填写',fill_path(form_id:f.id,controller: 'form' , action: 'fill')%>
    <%= link_to '查看数据',userdate_path(form_id:f.id,controller: 'form' , action: 'user_date')%></p></th>
        </tr>
</table>

<% end %>

<%= paginate(@forms) %>
</div>

