<% provide(:xx ,"主页") %>
<h3 style="color: #B00100">
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
</h3>

<div  class="center hero-unit">
<h1 style="color:rgb(149, 171, 182)">填写的表单</h1>

<%if @datas.length >=1%>
    <h2>表单名：<%=@form.name %></h2>
<table  class="table table-strip">
<tr>
   <th>填写者</th>
  <th>填写时间</th>
    <% @fields.each do |v| %>
        <th><%=v.label%></th>
    <% end %>
</tr>
<% @datas.each do |f| %>
        <tr>
        <td> <%=f.name%></td>
          <td><%=f["created_at"] %></td>
        <%x=nil%>
             <%@fields.each do |field|%>
          <td ><%= f["key_" + field.id.to_s]%></td>
        <% end%>
    <td><%= link_to '删除',deldata_path(value_id:f["id"],controller: 'form' , action: 'deldata')%></td>
            </tr>
<% end %>
</table>
<%else%>
<h1 style="color:#999">没有数据哦！</h1>
<%end%>
</div>