<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
<div class="container">
<%= link_to "绽放2020",root_path,id: "logo"%>
<nav>
<ul class="nav pull-right">
<li><%= link_to "个人主页" ,root_path %></li>
<% if signed_in? %>
 <li style='background:#999'> <%= current_user.name%></li>
    <li><%= link_to '创建表单', new_path %></li>
<li><%= link_to '我的表单', show_path %></li>
<li><%= link_to "注销", logout_path %>
</li>
<% else %>
<li><%= link_to "登陆",login_path%></li>
<% end %>

</ul>
</nav>
</div>
</div>
</header>